<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Welcome to the Institute of Data!

The following questions are NOT designed to be completed by everyone here.

This is just to a diagnostic quiz to see where you are at. 

Have fun with them!

## Exercise 1: 

Print out an interesting fact about you!
For example: 'My favorite song right now is ____'

In [1]:
print('Hello, World!')

Hello, World!

## Exercise 2:

Return the answer to the following: 

What is 271,097 divided by 2300?

In [4]:
print(271097/2300)

117.86826086956522

## Exercise 3:

Print the sum of the following list:

In [6]:
# Initialize List
new_list = [1,3,5,7,9,18]

print(sum(new_list))

43

## Exercise 4: 

Return the sum, minimum and maximum of the following list:

In [7]:
# Initialize List
new_list = [7,23,117,4]

print(sum(new_list))
print(min(new_list))
print(max(new_list))

151
4
117

## Exercise 5:

Create a function which takes two numbers, and returns the product.

In [9]:
def sum(a, b):
    print(a + b)

In [10]:
sum(7, 14)

21

## Exercise 6:

Create a function which takes in two numbers (a and b) and returns the amount of numbers below a which are divisiible by b.

In [12]:
def divisible(a, b):
    count_list = []
    for i in range(0, a):
        if i % b == 0:
            count_list.append(i)
    print(len(count_list))

In [13]:
divisible(100, 3)

34



---



---



> > > > > > > > > Â© 2022 Institute of Data


---



---